[submodule "rv32i-tests/riscv-tests"]
	path = rv32i-tests/riscv-tests
	url = https://github.com/riscv-software-src/riscv-tests.git

[submodule "rv32i-tests/riscv-tests/env"]
	path = rv32i-tests/riscv-tests/env
	url = https://github.com/riscv/riscv-test-env.git
